/* You can add global styles to this file, and also import other style files */

@import '../src/assets/reset';
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    overflow: hidden;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    // max-width: 100%;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }