<footer  id="Footer">
    <div class="footer_first">
        <div class="container">
            <div class="one">
                <div class="copyright">
                    <h3>© 2021 Thiết kế website trọn gói. Bản quyền thuộc về webdigistar</h3>
                </div>
                <ul class="social">
                    <li>
                        <img src="../../../../../assets/footerimg/facebook.svg">
                    </li>
                    <li>
                        <img src="../../../../../assets/footerimg/gmail.svg">
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>