*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

footer{
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.footer_first {
    border-top: 2px solid rgba(24, 23, 23, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 2vh;
    height: 10vh;
    
}


.container {
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
}


.one {
    margin-bottom: 20px;
    padding-top: 30px;
    min-height: 33px;
}

.copyright {
    float: left;
}

.footer_first li{
    list-style: none;
}

.social {
    margin-right: 20px;
    float: right;
}

.social li{
    display: inline-block;
    margin-right: 10px;
}


.social img{
    width: 20px;
}

@media only screen and (max-width: 959px) and (min-width: 768px){
    .container{
        max-width: 708px;
    }
}

@media only screen and (max-width: 1239px) and (min-width: 960px){
    .container {
        max-width: 940px;
    }
}