*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: #d9d9d9;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #111 ;
}

.main-content{
    display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.left .content p{
    text-align: justify;
}

.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0 0 0; 
}

.left .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover{
    background: #f12020;
}

.left .content .social a span img{
    width: 20px;
}

.right{
    padding: 10px 20px;
}

.footer_copy{
    border-top: 1px solid rgba(255,255,255,.1);
}

.footer_copy .one{
    margin-bottom: 20px;
    padding-top: 30px;
    min-height: 33px;
}

.column{
    float: left;
    margin: 0 1% 40px;
}

.column .one{
    width: 98%;
}