<footer>
    <div class="main-content">
        <div class="left box">
            <h2>About us</h2>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A asperiores mollitia, iusto nihil debitis esse dolor architecto cum hic id neque quod cupiditate. Earum, voluptatibus dolores vitae aspernatur quisquam labore.</p>
                <div class="social">
                    <a href="#"><span><img src="../../../../../assets/footerimg/facebook.svg"></span></a>
                    <a href="#"><span><img src="../../../../../assets/footerimg/gmail.svg"></span></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="right box">
        <h2>Address</h2>
        <div class="content">
            <div class="place">
                <span class="text">Địa chỉ: Hồ Chí Minh</span>
            </div>
            <div class="phone">
                <span class="text">Số Điện Thoại: 0786514360</span>
            </div>
        </div>
        <div class="email">
            <span class="text">huy.pl2329@sinhvien.hoasen.edu.vn</span>
        </div>
    </div>

    <div class="footer_copy">
        <div class="container">
            <div class="column one">
                <div class="copyright"> © 2021 Thiết kế website trọn gói. Bản quyền thuộc về webdigistar </div>
            </div>
        </div>
    </div>
</footer>