<div class="introduction">
    <div class="bg-img">
        <h1 class="bg-text">THIẾT KẾ WEBSITE TRỌN GÓI</h1>
    </div>

    <div class="service">
        <p class="service__title">Dịch vụ Website webdigistar</p>
        <p class="service__content">Tính năng mạnh mẽ, giao diện hiện đại và chuẩn seo</p>
    </div>

    <div class="card">
        <div class="card__content">
            <div class="card__img">
                <img src="../../../assets/images/card1.jpg" alt="">
            </div>
            <div class="card__text">
                <p class="title">What is Lorem Ipsum?</p>
                <p class="content">What is Lorem Ipsum?Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                    to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>

        <div class="card__content">
            <div class="card__img">
                <img src="../../../assets/images/card2.jpg" alt="">
            </div>
            <div class="card__text">
                <p class="title">What is Lorem Ipsum?</p>
                <p class="content">What is Lorem Ipsum?Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                    to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>

        <div class="card__content">
            <div class="card__img">
                <img src="../../../assets/images/card3.jpg" alt="">
            </div>
            <div class="card__text">
                <p class="title">What is Lorem Ipsum?</p>
                <p class="content">What is Lorem Ipsum?Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                    to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="process">
        <p class="process__title">Quy trình xây dựng một website</p>
        <p class="progress__content">WEBDIGISTAR mang đến một website phù hợp với mọi khách hàng cá nhân, doanh nghiệp và tổ chức có nhu cầu xây dựng một trang giao diện phù hợp và phục vụ cho công việc của họ. Tại WEBDIGISTAR bạn sẽ được trải nghiệm một dịch vụ thân thiện và được
            tư vấn hợp lý về giá cả một cách hợp lý.</p>
    </div>



</div>