<div class="introduction">
    <div class="bg-img">
        <h1 class="bg-text"> WebDigiStar <br> THIẾT KẾ WEBSITE TRỌN GÓI</h1>
    </div>

    <div class="service">
        <h1 class="service__title">Dịch vụ Website webdigistar</h1>
        <h4 class="service__content">Tính năng mạnh mẽ, giao diện hiện đại và chuẩn seo</h4>
    </div>

    <div class="card">
        <div class="card__content">
            <div class="card__img">
                <img src="../../../assets/images/card1.jpg" alt="">
            </div>
            <div class="card__text">
                <p class="title">What is Lorem Ipsum?</p>
                <p class="content">What is Lorem Ipsum?Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                    to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>

        <div class="card__content">
            <div class="card__img">
                <img src="../../../assets/images/card2.jpg" alt="">
            </div>
            <div class="card__text">
                <p class="title">What is Lorem Ipsum?</p>
                <p class="content">What is Lorem Ipsum?Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                    to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>

        <div class="card__content">
            <div class="card__img">
                <img src="../../../assets/images/card3.jpg" alt="">
            </div>
            <div class="card__text">
                <p class="title">What is Lorem Ipsum?</p>
                <p class="content">What is Lorem Ipsum?Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                    to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="process">
        <h1 class="process__title">Quy trình xây dựng một website</h1>
        <h4 class="progress__content">WEBDIGISTAR mang đến một website phù hợp với mọi khách hàng cá nhân, doanh nghiệp và tổ chức có nhu cầu xây dựng một trang giao diện phù hợp và phục vụ cho công việc của họ. Tại WEBDIGISTAR bạn sẽ được trải nghiệm một dịch vụ thân thiện và được
            tư vấn hợp lý về giá cả một cách hợp lý.</h4>
    </div>

    <div>
        <ul class="timeline">
            <li class="timeline__items">
                <h3 class="dot"></h3>
                <h4 class="timeline__items--title">Bước 1: Giao diện Website</h4>
                <div class="timeline__content">
                    <h6>Ở tại Webdigistar, chúng tôi sẽ cung cấp cho khách hàng một thiết kế phù hợp với nhu cầu của khách hàng, những thiết kế của chúng tôi sẽ đem lại cho khách hàng một giao diện với nhiều mẫu mã, sang trọng và tại đây chúng tôi đúc kết
                        nhiều năm kinh nghiệm phù với nhiều nghành nghề, cá nhân, tổ chức. Giúp quý khách hàng có một trải nghiệm tuyệt vời khi lựa chọn một giao diện phù hợp cho công việc của quý khách.</h6>
                </div>
            </li>
            <li class="timeline__items1">
                <h3></h3>
                <h4 class="timeline__items--title">Bước 2: Chọn gói dịch vụ website, đặt hàng và thanh toán</h4>
                <div>
                    <h6>Webdigistar sẽ đưa cho khách hàng những yêu cầu cần thiết cho website của khách hàng. Ở tại đây, chúng tôi sẽ lắng nghe những yêu cầu của khách hàng, tư vấn và hoàn thành yêu cầu phù hợp với nhu cầu của khách hàng. Webdigistar hỗ trợ
                        các hình thức thanh toán chuyển khoản ngân hàng, thẻ visa hoặc gặp trực tiếp để thanh toán theo hợp đồng.</h6>
                </div>
            </li>
            <li class="timeline__items2">
                <h3></h3>
                <h4 class="timeline__items--title">Bước 3: Demo website</h4>
                <div class="timeline__content">
                    <h6>Trước khi giao sản phẩm cho quý khách chúng tôi sẽ demo sản phẩm về mặt giao diện, chức năng của website và nội dung của website cho quý khách hàng. Chúng tôi sẽ lắng nghe ý kiến chủ đạo về website của khách hàng, những yêu cầu của
                        khách hàng.</h6>
                </div>
            </li>
            <li class="timeline__items3">
                <h3></h3>
                <h4 class="timeline__items--title">Bước 4: Hoàn thiện nội dung website </h4>
                <div>
                    <h6>Webdigistar sẽ hướng dẫn quý khách hàng cung cấp thông tin, hình ảnh của website để cho quý khách được một sản phẩm phù hợp và chuyên nghiệp nhất.</h6>
                </div>
            </li>
        </ul>
    </div>

</div>