<div class="introduction">
    <div class="bg-img">
        <h1 class="bg-text">THIẾT KẾ WEBSITE TRỌN GÓI</h1>
    </div>

    <div class="service">
        <p class="service__title">Dịch vụ Website webdigistar</p>
        <p class="service__text">Tính năng mạnh mẽ, giao diện hiện đại và chuẩn seo</p>
    </div>

    <div class="container">
        <!--   card 1 -->
        <div class="card-body">
            <div class="content-img">
                <img src="../../../assets/images/card1.jpg" alt="">
            </div>
            <div class="card-text">
                <p class="tag">travel</p>
                <h2>Mountains</h2>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore fugit facere numquam tempora eveniet repellat.</p>
            </div>
        </div>
        <!--   card 2 -->
        <div class="card-body">
            <div class="content-img">
                <img src="../../../assets/images/card2.jpg" alt="">
            </div>
            <div class="card-text">
                <p class="tag">travel</p>
                <h2>City</h2>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore fugit facere numquam tempora eveniet repellat.</p>

            </div>
        </div>
        <!--   card 3 -->
        <div class="card-body">
            <div class="content-img">
                <img src="../../../assets/images/card3.jpg" alt="">
            </div>
            <div class="card-text">
                <p class="tag">travel</p>
                <h2>Coast</h2>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore fugit facere numquam tempora eveniet repellat.</p>
            </div>
        </div>
    </div>



</div>