.introduction {
    background-color: #FFFFFF;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
    height: 100vh;
}

.bg-img {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
}

.bg-img::before {
    content: " ";
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1586717791821-3f44a563fa4c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
}

.bg-text {
    position: relative;
    color: #fff;
    font-size: 5rem;
    line-height: 1.2;
    text-align: center;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.service,
.process {
    margin-top: 3rem;
    text-align: center;
}

.service__title,
.process__title {
    font-size: 3rem;
    font-weight: bold;
    color: #333333;
}

.service__content,
.progress__content {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.progress__content {
    padding-top: 2rem;
    width: 50%;
    margin: 0 auto;
    word-wrap: break-word;
    text-align: center;
    line-height: 1.2;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

.card__content {
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Lora', serif;
    margin: 25px 0;
    /* min-height: 515px;
    overflow: hidden; */
    width: 100%;
    height: 65vh;
}

@media (min-width:768px) {
    .card {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card__content {
        margin: 25px 10px;
        width: 40%;
    }
}

@media (min-width:1024px) {
    .card__content {
        margin: 25px 15px;
        width: 30%;
    }
}

.card__img {
    height: 200px;
    overflow: hidden;
}

.card__content img {
    height: auto;
    object-position: center center;
    width: 100%;
}

.card__content .card__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 315px;
}

@media (min-width:768px) {
    .card__content .card__text {
        padding-bottom: 25px;
    }
}

@media (min-width:1024px) {
    .card__content {
        margin-top: 25px;
        min-height: 250px;
        padding-bottom: 0;
    }
}

.content {
    font-family: "Montserrat", sans-serif;
    width: 80%;
    height: auto;
    letter-spacing: normal;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2rem;
}

@media (min-width:1024px) {
    .card__text .content {
        margin-top: 3.5vh;
    }
}

.card__text {
    font-family: "Montserrat", sans-serif;
    font-size: .85rem;
    font-weight: bold;
    transition: all .5s ease;
    color: #333333;
}

.title {
    margin-top: 2rem;
    font-size: 2rem;
}

.timeline {
    position: relative;
    width: 78%;
    margin: 0 auto;
}

.timeline__items {
    position: relative;
}

.content-block {
    margin-top: 1rem;
    word-wrap: break-word;
    text-align: justify;
    line-height: 1.2;
}

.dot::after {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;
    left: 45%;
    top: 1%;
}

.dot1::before {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;
    left: 45%;
    top: 36%;
}

.dot2::after {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;
    left: 45%;
    top: 64%;
}

.dot3::before {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;
    left: 45%;
    top: 86%;
}

.line::before {
    content: " ";
    position: absolute;
    width: 3px;
    height: 155px;
    background-color: #000000;
    left: 45.5%;
    top: 8%;
}

.line1::after {
    content: " ";
    position: absolute;
    width: 3px;
    height: 155px;
    background-color: #000000;
    left: 45.5%;
    top: 34%;
}

.line2::before {
    content: " ";
    position: absolute;
    width: 3px;
    height: 155px;
    background-color: #000000;
    left: 45.5%;
    top: 55%;
}

.timeline__content {
    display: block;
    word-wrap: break-word;
    width: 40%;
    text-align: justify;
}

.timeline__items1 {
    padding-left: 50%;
    line-height: 1.2;
}

.timeline__items3 {
    padding-left: 50%;
}

.timeline__items--title {
    font-size: 20px;
    font-weight: 600;
}

.progress-bar {
    margin-top: 2rem;
}